<div fxFlex="50%" fxFlexOffset="25%" fxLayout="column" class="margin-4xlarge-top" id="about">
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="about-logos ">
    <img src="assets/images/coverfinder.png" alt="Cover Finder Logo">
    <img src="assets/images/plus.png" alt="Plus">
    <img src="assets/images/spotify-pink.png" alt="Spotify Pink Logo">
  </div>
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center stretch" class="about-description">
    <h1 class="text-center">Cover Finder</h1>
    <p>
      Cover Finder is an Open Source Simple Application written with <a href="http://angular.io">Angular 4</a> which Helps
      you to find albums, their Art Covers, details and Listen to previews with the help of <a href="https://developer.spotify.com/web-api/">Spotify's Web Api</a>.
    </p>
    <p>
      Source Code is Available on <a href="https://github.com/mamos98/coverfinder">GitHub (Cover Finder App)</a>, Feel free to Contribute or Fork and modify it. There's also an API Wrapper written on top of Spotify's API hosted on <a href="https://coverfinder.herokuapp.com">Heroku</a> which you can find on <a href="https://github.com/mamos98/coverfinderapi">GitHub (Cover Finder Api)</a> as well.
    </p>
  </div>
  <p class="text-center">
    <a href="https://github.com/mamos98">GitHub</a> | <a href="mailto:mamos98@gmail.com">Email</a> | <a href="http://masoudmirzaei.ir">Blog</a>
  </p>
</div>
