// General Styles
$background-cyan: #18ffff;
$background-pink: #f48fb1;

body
  font-family: 'Josefin Sans', sans-serif

.landing-background
	background: linear-gradient(to bottom, $background-cyan 0,$background-pink 100%)